
$KurlyPurple: #512772;
$Darkgray:#949296;
$Imgbg: rgba(255, 255, 255, 0.5);
$Bg: #f3f2f4;
$Lightgray: #dddfe1;
$InvalidRed: #b3130b;
$ValidGreen: #0e851a;
$StoneGray: #514859;
$PurpleGray: #685c72;
$LoversFriends: #cba3e9;
$LoversWhite: #a864d8;
$LoversLavender: #8d4cc4;
$LovesThePurple: #4f177a;
$LoversPurple: #641898;
$DirtyPurple: #514859;
$Textcolor: rgba(0,0,0,0.8);
$BgPurple: #ede9f0;
$CategorySelectedBg: #f9f8f9;
$Tag: #6335a8;
$TabText: #333333;
$TabBg:#fcfcfc;
$MenuText:#666666;
